
<div class="mb-3">
  <label for="formFile" class="form-label">Tên Sản Phẩm</label>
  <input class="form-control" type="file" id="tensp">
  <label for="formFile" class="form-label">Thông tin điện thoại</label>
  <input class="form-control" type="file" id="thongtinsp">
  <label for="formFile" class="form-label">Dung Lượng</label>
  <input class="form-control" type="file" id="dungluong">
  <label for="formFile" class="form-label">Số Lượng</label>
  <input class="form-control" type="file" id="soluong">
  <label for="formFile" class="form-label">Giá bán</label>
  <input class="form-control" type="file" id="giaban">
  <label for="formFile" class="form-label">Chọn hình ảnh</label>
  <input class="form-control" type="file" id="formFile">
  <a href="#" class="btn btn-primary">Lưu</a>
</div>
